@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        @* For Error Message *@
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age" />
        @* For Error Message *@
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        @* For Error Message *@
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" />
        @* For Error Message *@
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsActive" class="col-form-label"></label>
        <input asp-for="IsActive" class="form-control" />

    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        @* For Error Message *@
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        @* For Error Message *@
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
        <input class="form-control" asp-for="HireDate" />
    </div>
    <br />
    <input type="submit" value="submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

@section ValidationScriptSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
